<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/header.ejs')%>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header>
            <%-include('partials/nav.ejs')%>
        </header>
        <section>
            <h1 id="categorias">Categorias</h1>
            <div class="container-up">
                <div class="input-group2">
                    <div class="group-input">
                        <div class="input-group">
                            <input required="" type="text" id="codigo"  name="codigo" autocomplete="off" class="input" >
                            <label class="left-label">Codigo</label>
                        </div>
                        <div class="input-group">
                            <input required="" type="text" id="tipo" name="text" autocomplete="off" class="input" >
                            <label class="left-label">Tipo</label>
                        </div>
                        <div class="input-group">
                            <input required="" type="text" id="genero" name="text" autocomplete="off" class="input" >
                            <label class="left-label">Genero</label>
                        </div>
                       
                    </div>
                    <div class="group-input" id="">
                        <div class="container_search">
                            <input type="text" name="text" id="search" class="search" required="" placeholder="Busque el codigo...">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                                    <title>Search</title>
                                    <path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"></path>
                                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448"></path>
                                </svg>
                            </div>
                        </div>  
                    </div>
                </div>
                
                <div class="button-group-right">
                    <!--<button id="btnAgregar">Nuevo</button>-->
                    <button id="btnAgregar">Agregar</button>
                    <button id="btnModificar">Modificar</button>
                    <button id="btnDeshabilitar">Deshabilitar</button>               
                </div>
            </div>
            
            <div class="container-down">
                <button id="btnLimpiar">Limpiar</button>
                <!--<button id="btnCancelar">Cancelar</button>-->
                <button id="menu">Volver</button>
            </div>
            
            
            
        </section>
    </div>
    <script src="/js/categorias_app.js"></script>
</body>
</html>