<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
  <title>HIHISTUDIO</title>
</head>
<body>
    <header class="header-wrapper">
        <div class="header-background-cover"></div>
        <div class="header-content-wrapper">
        <!-- ... --->
        </div>
        <div class="header-logo-wrapper">
          <img src="/img/Logo_Circle.png" id="index" alt="Logo" class="header-logo">
        </div>
    </header>

  <nav class="nav">
    <ul>
        <a href="#camisas">Camisas</a></li>
        <a href="#pines">Pines</a></li>
        <a href="#cuadernos">Cuadernos</a></li>
        <a href="#tazas">Tazas</a></li>
        <a href="#llaveros">Llaveros</a></li>
        <a href="#stickers">Stickers</a></li>
        <a href="#paquetes">Paquetes</a></li>
      </ul>
      <div class="btn-container">
        <button class="btn" id="login">Iniciar Sesión</button>
        <button class="btn" id="registro">Registro</button>
      </div>
        <div class="user-info-container">
          <img src="/img/pato.jpg" alt="User" class="user-photo">
          <div class="user-info">
            <h3>Juán Perez</h3>
          </div>
        </div>
  </nav>

  <div class="new-products">
    <h2>Nuevos productos</h2>
  </div>

  <div class="product-container" id="cuerpo">
    
    <!-- Producto 1
    <article>
      <div class="product-item">
        <img src="/img/4540543-1.avif" class="product-image">
        <div class="product-info">
          <h3 class="product-title">Nombre del Producto</h3>
          <p class="product-description">Descripción del Producto</p>
          <p class="product-price">$100.00</p>
        </div>
      </div>
      <div class="product-item">
        <img src="/img/4540543-1.avif" class="product-image">
        <div class="product-info">
          <h3 class="product-title">Nombre del Producto</h3>
          <p class="product-description">Descripción del Producto</p>
          <p class="product-price">$100.00</p>
        </div>
      </div>
      
    </article>
    <article>
      <div class="product-item">
        <img src="/img/4540543-1.avif" class="product-image">
        <div class="product-info">
          <h3 class="product-title">Nombre del Producto</h3>
          <p class="product-description">Descripción del Producto</p>
          <p class="product-price">$100.00</p>
        </div>
      </div>
      <div class="product-item">
        <img src="/img/4540543-1.avif" class="product-image">
        <div class="product-info">
          <h3 class="product-title">Nombre del Producto</h3>
          <p class="product-description">Descripción del Producto</p>
          <p class="product-price">$100.00</p>
        </div>
      </div>
    </article>  -->
  
    
    
   

    
  </div>
  

  <div class="footer">
    <div class="contact-us">CONTACTANOS</div>
    <div class="copyright">&copy; 2024 HihiStudios. Derechos reservados</div>
  </div>

  <script src="/js/main_app.js"></script>
  <script src="/js/botones.js"></script>
</body>
</html>