<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/haeder_users.ejs')%>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    
    
    <title>Login</title>
</head>
<body>
    <div class="container">
        <header>
            <%-include('partials/nav.ejs')%>
        </header>
        <section class="up">
            <div class="left-content">    
            </div>
            <div class="right-content">
                <div class="logo-container">
                    <img src="/img/logo_Circle.png" alt="Hihi Studio Logo" class="logo">
                </div>
                    <label for="username">Nombre Usuario</label>
                    <input type="text" id="username" name="username">
    
                    <label for="password">Contraseña</label>
                    <input type="password" id="password" name="password">

                    <button id="btnIniciar">INICIAR SESIÓN</button>
                    <button id="registro">Registrarse</button>
            </div>
        </section>
     
        <%-include('partials/footer.ejs')%>
     
    </div>
    <script src="/js/login_app.js"></script>
</body>
</html>