<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/header.ejs')%>
    <title>Menu</title>
</head>
<body>
    
    <div class="container">
        <header>
            <%-include('partials/nav.ejs')%>
        </header>
        <section>
            <h1 id="menu">Modo Admin</h1>
          
            <button id="productos">Productos</button>
            <button id="categorias">Categorias</button>
            <button id="usuarios">Usuarios</button>

        </section>
        <footer>
            
        </footer>
    </div>
    <%-include('partials/footer.ejs')%>
  
</body>
</html>