<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/header.ejs')%>
    
    <title>Productos</title>
</head>
<body>
    <div class="container">
        <header>
            <%-include('partials/nav.ejs')%>
        </header>
        <section>
            <h1 id="productos">Productos</h1>
            <form action="/productos" method="post" id="formulario" class="container-up">
                <div class="group-input">
                    <div class="input-group">
                        <input required="" type="text" id="codigo" name="codigo" autocomplete="off" class="input">
                        <label class="left-label">Codigo</label>
                    </div>
                    <div class="input-group">
                        <input required="" type="text" id="nombre" name="nombre" autocomplete="off" class="input">
                        <label class="left-label">Nombre</label>
                    </div>
                    <div class="input-group">
                        <input required="" type="text" id="descripcion" name="descripcion" autocomplete="off" class="input">
                        <label class="left-label">Descripción</label>
                    </div>
                    <div class="input-group">
                        <input required="" type="number" id="id_categoria" name="id_categoria" autocomplete="off" class="input" >
                        <label class="left-label">Id Categoría</label>
                    </div>
                </div>
                <div class="group-input">
                    <div class="container_search">
                        <input type="text" name="text" id="search" class="search" required="" placeholder="Busque el codigo...">
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                                <title>Search</title>
                                <path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"></path>
                                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448"></path>
                            </svg>
                        </div>
                    </div> 
                    <div class="input-group">
                        <input required="" type="number" id="precio" name="precio" autocomplete="off" class="input">
                        <label class="left-label">Precio</label>
                    </div>
                    <div class="input-group">
                        <input required="" type="number" id="cantidad" name="cantidad" autocomplete="off" class="input">
                        <label class="left-label">Cantidad</label>
                    </div>
                    <!--<div class="input-group">
                        <label for="imageInput" class="form-label file-label">Agregar Imagen</label>
                        <input type="file" class="file" id="imageInput" accept=".jpg, .jpeg, .png">
                       
                        <img id="imagePreview" style="width: 200px;" src="" alt="">
                    </div>--> 
                    <div class="input-group">
                        <input required="" type="text" id="url" name="url" autocomplete="off" class="input" readonly>
                        <label for="url" class="left-label">URL Imagen</label>
                    </div>
                             
                </div>
                <div class="button-group-right">
                    <!--<button id="btnNuevo" type="button">Nuevo</button>-->
                    <button id="btnAgregar" type="button">Agregar</button>
                    <button id="btnModificar" type="button">Modificar</button>
                    <button id="btnDeshabilitar" type="button">Deshabilitar</button>               
                </div>
            </form>
            
            <div class="container-down">
                <button id="btnLimpiar">Limpiar</button>
                <!--<button id="btnCancelar" disabled>Cancelar</button>-->
                <button id="menu">Volver</button>
            </div>   
        </section>
    </div>
    
    


    
    <script src="/js/productos_app.js"></script>

</body>
</html>