<!DOCTYPE html>
<html lang="en">
<head>
    
    <%-include('partials/haeder_users.ejs')%>
    <link rel="stylesheet" href="/css/registro.css">
    <title>Registro</title>
</head>
<body>
    <header>
        <%-include('partials/nav.ejs')%>
    </header>
    
    <div class="container">
        <div class="up">
            <div class="left-content">
         
            </div>
            <div class="right-content">
                <div class="logo-container">
                    <img src="/img/logo_Circle.png" alt="Hihi Studio Logo" class="logo">
                </div>
    
                <div class="login-form">
                    <div class="name-container">
                        <div class="name-input">
                            <label for="firstName">Nombre(s)</label>
                            <input type="nombre" id="firstName" name="firstName" placeholder="Nombre">
                        </div>
                        <div class="name-input">
                            <label for="lastName">Apellido</label>
                            <input type="apellido" id="lastName" name="lastName" placeholder="Apellido">
                        </div>
                    </div>
    
                    <label for="username">Nombre Usuario</label>
                    <input type="username" id="username" name="username" placeholder="Nombre de usuario">
    
                    <label for="birthdate">Fecha de Nacimiento</label>
                    <input type="date" id="birthdate" name="birthdate">
    
                    <label for="email">Correo Electrónico</label>
                    <input type="email" id="email" name="email" placeholder="Correo electrónico">
    
                    <label for="password">Contraseña</label>
                    <input type="password" id="password" name="password" placeholder="Contraseña">
    
                    <button id="btnRegistrar">REGISTRARSE</button>
                </div>
            </div>
        </div>       
        <%-include('partials/footer.ejs')%>
    </div>
    <script src="/js/usuarios_app.js"></script>
</body>
</html>