<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('partials/header.ejs')%>
    <style>
        .censurado::after {
            content: attr(data-censurado);
            color: transparent;
            text-shadow: 0 0 5px rgba(0,0,0,0.5); /* añade un efecto de sombra para dar la impresión de texto censurado */
        }
    </style>
    
    <link rel="stylesheet" type="text/css" href="/css/estilos4.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header>
            <%-include('partials/nav.ejs')%>
        </header>
        <section>
            <table>
                <tr>
                    <td>ID</td>
                    <td>ID Tarjeta</td>
                    <td>Nombre</td>
                    <td>Apellido</td>
                    <td>Nombre de Usuario</td>
                    <td>Fecha de Nacimiento</td>
                    <td>Correo Electronico</td>
                    <td>Password</td>
                </tr>
                <% if(reg!=null){ for (var i=0; i < reg.length; i++) { %>
                    <tr>
                        <td class="titulos">
                            <%= reg[i].id_usuario %>
                        </td>
                        <td class="titulos">
                            <%= reg[i].card %>
                        </td>
                        <td class="titulos">
                            <%= reg[i].firstName%>
                        </td>
                        <td class="titulos">
                            <%= reg[i].lastName%>
                        </td>
                        <td class="titulos">
                            <%= reg[i].username%>
                        </td>
                        <td class="titulos">
                            <%= reg[i].birthdate%>
                        </td>
                        <td class="titulos">
                            <%= reg[i].email%>
                        </td>
                        <td class="titulos" data-censurado="<%= reg[i].password.replace(/./g, '*') %>">
                            <%= reg[i].password%>
                        </td>
                    </tr>
                    <% } }%>
            </table>

            <div class="container-down">
                <button id="menu">Volver</button>
            </div> 
        </section>
    </div>
</body>
</html>