.container{
    width: 40vw;
    height: 60vh;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /*border: solid blue 1px;*/
}

section{
    display: flex;
    flex-direction: column;
    align-items: start;
    
    padding: 1vh;

    width: inherit; 
    
  
}
.container-up{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding: 0.5vw 0.5vh;

    width: calc(100% - 2vw);
}

.container-down{
    display: flex;
    width: calc(100% - 2vw);
    justify-content: space-around;
}

.group-input{
    display: flex;
    flex-direction: column;
    
}

.button-group-right{
    width: 16vh;
}


.input:focus {
    color: #7E6FB5;
    background-color: #fff;
    outline-color: #7E6FB5;
    box-shadow: -0.1vw -0.1vh 15px #7E6FB5;
    transition: .1s;
    transition-property: box-shadow;
}

.input-group {
    position: relative;
    width: 100%;
    height: 7.7vh;
}

.input {
    border: solid 0.3vh #7E6FB5;
    width: 10vw;
    height: 1vh;
    border-radius: 2vh;
    background: none;
    padding: 1vw 0.2vh;
    font-size: 1.5vh;
    color: #7E6FB5;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.left-label {
    position: absolute;
    font-size: 2vh;
    left: 1vw;
    color: #7E6FB5;
    pointer-events: none;
    transform: translateY(1vh);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.input:focus, input:valid {
    outline: none;
    border: 0.2vh solid #7E6FB5;
}

.input:focus ~ label, input:valid ~ label {
    transform: translateY(-3vh) scale(0.7);
    background-color: #fff;
    border: 0.2vh solid #7E6FB5;
    outline-color: #7E6FB5;
    box-shadow: 0 0 5px 0 #7E6FB5;
    
    border-bottom: none;
    
    padding: 0 .2vh;
    padding: 1vh;

    border-radius: 15vw;

    font-size: 2.5vh;
    font-weight: bold;
    color: #7E6FB5;

}

.container_search {
    position: relative;
    color: #7E6FB5;
    margin-bottom:3.4vh;
}

.search {
    padding-left: 5vh;
    font-size: 1.8vh;
    width: 0.1vw;
    height: 4vh;
    border: none;
    color: #7E6FB5;
    outline: none;
    position: relative;
    
    transition: all ease 0.3s;
    background-color: #fff;
    box-shadow: 1.5px 1.5px 3px #7E6FB5, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #7A6552, inset 0px -0px 0px #5f5e5e;
    border-radius: 5vh;
    cursor: pointer;
}

.search:focus,
.search:not(:invalid) {
    width: 15vh;

    cursor: text;
    box-shadow: 0px 0px 0px #7E6FB5, 0px 0px 0px #7E6FB5, inset 1.5px 1.5px 3px #7E6FB5, inset -1.5px -1.5px 3px #7E6FB5;
}

.search:focus + .icon,
.search:not(:invalid) + .icon {
pointer-events: all;
cursor: pointer;

}

.container_search .icon {
position: absolute;
width: 2vh;
height: 2vh;
top: 0;
left: 0;
padding: 0.6vh;
pointer-events: none;
}

.container_search .icon svg {
width: 3vh;
height: 3vh;
}

.input-group > .file{
   
}

.file{
    margin-bottom: 1vh;
    width: 16vh;
    cursor: pointer;
    position: relative;
    padding: 1vh 2vh;
    font-size: 2vh;
    color: #7E6FB5;
    border: 0.2vh solid #7E6FB5;
    border-radius: 1vh;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0); 
}

.file-label{
    padding: 1vh 2vh;
    font-size: 2vh;
    color: #7E6FB5;
    border: 0.2vh solid #7E6FB5;
    border-radius: 1vh;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    cursor: pointer;
}
  
  
  