.container{
    width: 95vw;
}

table {
    width: inherit;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 2vh;
}

th, td {
    border: 0.1vh solid #907fcd;
    padding: 0.8vw 0.8vh;
    text-align: center;
    width: 2vw;
    overflow: hidden; /* Ocultar cualquier contenido que sobresalga */
    white-space: nowrap; /* Evitar que el texto se divida en múltiples líneas */
    cursor: pointer; /* Cambiar el cursor al pasar sobre las celdas */
    word-break: break-all; 
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

tr:first-child {
    background-color: #907fcd;
    box-shadow: 0.5vw 0px 0.5vw rgba(0, 0, 0, 0.3);
}

.container-down{
    margin-top: 10vh;
    justify-content: end;
}