footer {
    background-color: #ffffff;
    padding: 2vw 2vh;
    text-align: center;

    width: inherit;

    font-size: 3vh;
}

.contact-us {
    font-size: 3vh;
    margin-bottom: 1vh;
}

.copyright {
    font-size: 1.5vh;
}

hr{
    border: 0.1vh solid grey;
}