* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-family: Arial, sans-serif;

    width: inherit;
    font-size: 1.8vh; 
}

.container {
    padding-top: 0;
    display: flex;
    flex-direction: column;

    width: 50vw;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    width:calc(100% - 2vw);

    margin-bottom: 2vh;
}

.up{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: calc(100%-60vw);
}

.purple-box-image {
    width: 20vw;
    height: 55vh;
    object-fit: cover;
    border-radius: 1vw 1vh;
    margin-right: 5vw;
}

.left-content {

    background: -webkit-linear-gradient(top, #7E6FB5, #E3AFE0);
    background: -moz-linear-gradient(top, #7E6FB5, #E3AFE0);
    background: -o-linear-gradient(top, #7E6FB5, #E3AFE0);
    background: linear-gradient(to bottom, #7E6FB5, #E3AFE0);

 
    width: 25vw;
    height: 60vh;

}

.right-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
}

.logo-container {
   
    width: 10vw;
    height: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 3vh;
}

.logo {
    width: 100%;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 0.5vh;
}

input[type="text"],
input[type="password"] {
    width: 10vw;
    height: 2vh;
    padding: 1vh 1vw;
    margin-bottom: 1vh;
    border-radius: 0.5vh;
    border: 0.1vh solid #ccc;

    font-size: 2vh;
}

input:hover{
    border: 0.3vh solid #ccc;
}

input:focus {

    outline: none; /* Eliminar el resaltado predeterminado del foco */
  }

input[type="checkbox"] {
    margin: 0.1vw 0.1vh;
}

.checkbox{
    width: 2vw;
    height: 2vh;
    border-radius: 0.5vh;
    border: 0.1vw;
}

button{

    margin-top: 2vh;

    width: 15vw;
    height: 5vh;
    padding: 1.7vh 1.7vw;
    background-color: #5e04ae;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0.5vh;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5vh;
}

button:hover {
    background-color: #450380;
}

.index{
    cursor: pointer;
}





