nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
}

img{
    width: 6vw;
    height: auto;
}

ul{
    display: flex;
    flex-direction: row;
    
    list-style: none;
    align-items: center;
}

li{
    cursor: pointer;
    font-size: 1.5vw;
    margin-right: 3vw;
    

}

li:hover{
    transform:scale(1.5);
}