* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    width: inherit;
    font-size: 1.8vh;
}

.container {
    padding: 2vw 2vh;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    width: 70vw;
    bottom: -3vw;

}




.up {
    display: flex;
    justify-content: space-between;
    width: inherit;
    align-items: flex-start;
}



.left-content {
    background: -webkit-linear-gradient(top, #7E6FB5, #E3AFE0);
    background: -moz-linear-gradient(top, #7E6FB5, #E3AFE0);
    background: -o-linear-gradient(top, #7E6FB5, #E3AFE0);
    background: linear-gradient(to bottom, #7E6FB5, #E3AFE0);
    width: 40vw;
    height: 70vh;
}

.right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: inherit;
    
}

.logo-container {
    width: 10vw;
    height: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 3vh;
}

.logo {
    width: 100%;
    position: relative;

    
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;

  

    
}


label {
    display: block;
    margin-bottom: 0.5vh;
    text-align: center; 
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="username"] {
    width: 100%;
    height: 3vh; 
    padding: 1vh 1vw;
    margin-bottom: 1vh;
    border-radius: 0.5vh;
    border: 0.1vh solid #ccc;
    font-size: 1.8vh;
}

input[type="date"]{
    width: 30%;
    height: 3vh; 
    padding: 1vh 1vw;
    margin-bottom: 1vh;
    border-radius: 0.5vh;
    border: 0.1vh solid #ccc;
    font-size: 1.8vh;
}

.nombre-input {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente */
    width: 100%;
    margin-bottom: 1vh; /* Espacio entre los campos */
}

.apellido-input {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente */
    width: 100%;
    margin-bottom: 1vh; 
}

input:focus{
    border: 0.1vh solid black;
}

input[type="date"] {
    width: 90%;
    height: 3vh; 
    padding: 1vh 1vw;
    margin-bottom: 1vh;
    border-radius: 0.5vh;
    border: 0.1vh solid #ccc;
    font-size: 1.8vh;
    position: relative;
    left: -2vw;
    
}

input[type="nombre"]{
    width: 120%;
    height: 3vh; 
    padding: 1vh 1vw;
    margin-bottom: 1vh;
    border-radius: 0.5vh;
    border: 0.1vh solid #ccc;
    font-size: 1.8vh;
    position:relative;
    left: -5.3vw;
}


input[type="apellido"]{
    width: 120%;
    height: 3vh; 
    padding: 1vh 1vw;
    margin-bottom: 1vh;
    border-radius: 0.5vh;
    border: 0.1vh solid #ccc;
    font-size: 1.8vh;
    position:relative;
    left: 1vw;
}


input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
input[type="date"]:hover {
    cursor: text;
}



button {
    background-color: #8322d8;
    width: 50%;
    height: 5vh; /* Cambiado el valor de 10vh a 5vh */
    padding: 1vh 1vw;
    margin-bottom: 1vh;
    border-radius: 0.5vh;
    font-size: 1.8vh;
    color:#ffffff;
    position: relative;
    top: 1vw;
}

button:hover {
    background-color: #450380;
    cursor: pointer;
}

.footer {
    background-color: #ffffff;
    padding: 2vw 2vh;
    text-align: center;
    width: inherit;
    font-size: 3vh;
}

.contact-us {
    font-size: 3vh;
    margin-bottom: 1vh;
}

.copyright {
    font-size: 1.5vh;
}

.name-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vh;
}

.name-input {
    width: 48%;
}
.form-container {
    width: 100%;
    display: flex;
    justify-content: flex-end; /* Alinea el contenido a la derecha */
    align-items: flex-start; /* Alinea el contenido arriba */
}




